<a href="https://colab.research.google.com/github/Stravanni/Basi_di_dati/blob/main/01_SQL_sqlite_basics_no_solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduzione a SQL
- @author: giovanni.simonini@unimore.it

- @source: https://github.com/Stravanni/Basi_di_dati

## To run: 
- to run a cell: SHIFT + ENTER
  
## Schema Università

S (<u>Matr</u>,SNome,Citta,ACorso)

D(<u>CD</u>,CNome,Citta)

C(<u>CC</u>,CNome,CD)
- FOREIGN KEY (CD) REFERENCES D(CD)

E(<u>Matr,CC</u>,DATA,VOTO)
- FOREIGN KEY (Matr) REFERENCES S(Matr)
- FOREIGN KEY (CC) REFERENCES C(CC)

In [ ]:
!pip install SQLAlchemy==1.4.49
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
engine = create_engine('sqlite://', echo=False)

## Create the the tables

In [ ]:
q = '''
CREATE TABLE S (
    Matr VARCHAR(45),
    SNome VARCHAR(45),
    Citta VARCHAR(45),
    ACorso INT,
    PRIMARY KEY (Matr)
);
'''
engine.execute(q)

q = '''
CREATE TABLE D(
 CD VARCHAR(45),
 CNome VARCHAR(45),
 Citta VARCHAR(45),
 PRIMARY KEY (CD)
);
'''
engine.execute(q)

q = '''
CREATE TABLE C(
 CC VARCHAR(45),
 CNome VARCHAR(45),
 CD VARCHAR(45),
 PRIMARY KEY (CC),
 FOREIGN KEY (CD) REFERENCES D(CD)
);
'''
engine.execute(q)

q = '''
CREATE TABLE E(
 Matr VARCHAR(45),
 CC VARCHAR(45),
 DATA DATE,
 VOTO INT,
 PRIMARY KEY (Matr, CC),
 FOREIGN KEY (Matr) REFERENCES S(Matr),
 FOREIGN KEY (CC) REFERENCES C(CC)
);
'''
engine.execute(q)


q = '''
INSERT INTO S (Matr, SNome, Citta, ACorso)
VALUES
('M1','Lucia Quaranta','SA',1),
('M2','Giacomo Tedesco','PA',2),
('M3','Carla Longo','MO',1),
('M4','Ugo Rossi','MO',1),
('M5','Valeria Neri','MO',2),
('M6','Giuseppe Verdi','BO',1),
('M7','Maria Rossi',null,1);
'''
engine.execute(q)


q = '''
INSERT INTO D (CD, CNome, Citta)
VALUES
('D1','Paolo Rossi','MO'),
('D2','Maria Pastore','BO'),
('D3','Paola Caboni','FI');
'''
engine.execute(q)


q = '''
INSERT INTO C (CC,CNome, CD)
VALUES
('C1','Fisica 1','D1'),
('C2','Analisi Matematica 1','D2'),
('C3','Fisica 2','D1'),
('C4','Analisi Matematica 2','D3');
'''
engine.execute(q)


q = '''
INSERT INTO E (Matr,CC,Data,Voto)
VALUES
('M1','C1','1995-06-29',24),
('M1','C2','1996-08-09',33),
('M1','C3','1996-03-12',30),
('M2','C1','1995-06-29',28),
('M2','C2','1996-07-07',24),
('M3','C2','1996-07-07',27),
('M3','C3','1996-11-11',25),
('M4','C3','1996-11-11',33),
('M6','C2','1996-01-02',28),
('M7','C1','1995-06-29',24),
('M7','C2','1996-04-11',26),
('M7','C3','1996-06-23',27);
'''
engine.execute(q)

## Query the DB

In [ ]:
# TEMPLATE QUERY
q = '''
SELECT *
FROM S,C,D,E
'''

res = engine.execute(q)
res

In [ ]:
df = pd.DataFrame(res.fetchall())
df.head()

In [ ]:
df.columns = res.keys()
df.head()

In [ ]:
# Operatori relazionali : <attr> <op-rel> <cost> 
# dove <op-rel> ∈ {=, <>, >, >=, <, <=}
# 
# Studenti del secondo anno di corso

q = ''' 
SELECT *
FROM S
WHERE ??? = ???;
'''

res = engine.execute(q)
df = pd.DataFrame(res.fetchall())
df.columns = res.keys()
df

In [ ]:
# Esami con voto compreso tra 24 e 28
q = '''
SELECT *
FROM E
WHERE ???;
'''
res = engine.execute(q)
df = pd.DataFrame(res.fetchall())
df.columns = res.keys()
df

In [ ]:
# Operatore di set : <attr> IN (<cost1>, ..., <costN>)
#
# Esami con voto pari a 29, 30 oppure con lode (voto pari a 33)
q = '''
SELECT *
FROM E
WHERE Voto ???;
'''
res = engine.execute(q)
df = pd.DataFrame(res.fetchall())
df.columns = res.keys()
df

In [ ]:
# Operatore di confronto stringhe : <attr> LIKE <stringa> 
# dove <stringa> puo` contenere i caratteri speciali   (carattere arbitrario) e % (stringa arbitraria)
#
# Studenti il cui nome inizia con V e termina con i

q = '''
SELECT *
FROM S
WHERE SNome ???;
'''
res = engine.execute(q)
df = pd.DataFrame(res.fetchall())
df.columns = res.keys()
df

In [ ]:
# Ordinamento del risultato: ORDER BY <attr> [ASC|DESC]
#
# Studenti di Modena ordinati in senso ascendente rispetto all’anno di corso
q = '''
SELECT Matr,ACorso 
FROM S
WHERE Citta = 'MO' 
???
'''
res = engine.execute(q)
df = pd.DataFrame(res.fetchall())
df.columns = res.keys()
df

In [ ]:
# L’ordinamento deve essere fatto rispetto a uno o piu' elementi della <lista-select>: 
# un tale elemento puo' essere indicato anche riportando la sua posizione nella <lista-select>.
#
# Esami del corso C1 ordinati in senso discendente rispetto al voto espresso in sessantesimi, 
# e a parita` di voto rispetto alla matricola

q = '''
SELECT Matr,CC,(60*Voto)/30 
FROM E
WHERE CC='C1'
???
'''
res = engine.execute(q)
df = pd.DataFrame(res.fetchall())
df.columns = res.keys()
df